<app-timeline>
  <app-timeline-card
    #card
    duration="{{ 'home.professional.uditis_2021.duration' | transloco }}"
    startYear="{{ 'home.professional.uditis_2021.year' | transloco }}"
    title="{{ 'home.professional.uditis_2021.name' | transloco }}"
    section="{{ 'home.professional.uditis_2021.intro' | transloco }}"
    location="{{ 'home.professional.uditis_2021.description' | transloco }}"
  ></app-timeline-card>
  <app-timeline-card
    #card
    duration="{{ 'home.professional.uditis_2020.duration' | transloco }}"
    startYear="{{ 'home.professional.uditis_2020.year' | transloco }}"
    title="{{ 'home.professional.uditis_2020.name' | transloco }}"
    section="{{ 'home.professional.uditis_2020.intro' | transloco }}"
    location="{{ 'home.professional.uditis_2020.description' | transloco }}"
  ></app-timeline-card>
</app-timeline>
