<app-timeline>
  <app-timeline-card
    #card
    startDate="{{ 'home.professional.uditis_2021.startDate' | transloco }}"
    endDate="{{ 'home.professional.uditis_2021.endDate' | transloco }}"
    title="{{ 'home.professional.uditis_2021.name' | transloco }}"
    section="{{ 'home.professional.uditis_2021.intro' | transloco }}"
    location="{{ 'home.professional.uditis_2021.description' | transloco }}"
  ></app-timeline-card>
  <app-timeline-card
    #card
    startDate="{{ 'home.professional.uditis_2020.startDate' | transloco }}"
    endDate="{{ 'home.professional.uditis_2020.endDate' | transloco }}"
    title="{{ 'home.professional.uditis_2020.name' | transloco }}"
    section="{{ 'home.professional.uditis_2020.intro' | transloco }}"
    location="{{ 'home.professional.uditis_2020.description' | transloco }}"
  ></app-timeline-card>
</app-timeline>
