<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="main-timeline">
        <div class="timeline">
          <div class="timeline-content">
            <div class="timeline-icon">
              <i class="fa-solid fa-truck-plane"></i>
            </div>
            <h3 class="title">
              <a href="https://www.uditis.ch/" target="_blank">{{
                "home.professional.uditis_2021.name" | transloco
              }}</a>
            </h3>
            <p class="description mb-3">
              {{ "home.professional.uditis_2021.intro" | transloco }}
            </p>
            <p class="description">
              {{ "home.professional.uditis_2021.description" | transloco }}
            </p>
            <div class="timeline-year">
              {{ "home.professional.uditis_2021.year" | transloco }}
            </div>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-content">
            <div class="timeline-icon">
              <i class="fa-solid fa-earth-europe"></i>
            </div>
            <h3 class="title">
              <a href="https://www.uditis.ch/" target="_blank">{{
                "home.professional.uditis_2020.name" | transloco
              }}</a>
            </h3>
            <p class="description mb-3">
              {{ "home.professional.uditis_2020.intro" | transloco }}
            </p>
            <p class="description">
              {{ "home.professional.uditis_2020.description" | transloco }}
            </p>
            <div class="timeline-year">
              {{ "home.professional.uditis_2020.year" | transloco }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
