.main-timeline .timeline {
  width: 50%;
  padding: 20px 0 0;
  margin: 0 0 25px 5px;
  float: right;
}

.main-timeline .timeline-content {
  color: #f2f2f7;
  background: var(--bgColor);
  text-align: center;
  padding: 0 30px 40px 75px;
  border-radius: 7px;
  box-shadow: 0 5px 15px var(--rgba01);
  display: block;
  position: relative;
  z-index: 1;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
}

.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after {
  content: "";
  background: linear-gradient(#f37024, #faa41d);
  height: 100%;
  border-radius: 0 15px 15px 15px;
  position: absolute;
  left: 55px;
  right: 20px;
  top: -20px;
  z-index: -1;
}

.main-timeline .timeline-content:before {
  background: linear-gradient(to right bottom, transparent 50%, #c94504 52%);
  height: 20px;
  width: 15px;
  border-radius: 0;
  left: 40px;
  top: -20px;
  right: auto;
}

.main-timeline .timeline-icon {
  font-size: 50px;
}

.main-timeline .title {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0 0 10px;
}

.main-timeline .title a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.main-timeline .title a:hover {
  letter-spacing: 1.5px;
}

.main-timeline .description {
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin: 0;
}

.main-timeline .timeline-year {
  color: #c94504;
  font-size: 2rem;
  font-weight: 700;
  transform: translateY(-50%) rotate(90deg);
  position: absolute;
  left: -14px;
  top: 48%;
}

.main-timeline .timeline:nth-child(even) {
  margin: 0 5px 25px 0;
  float: left;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
  padding: 0 75px 40px 30px;
}

.main-timeline .timeline:nth-child(even) .timeline-content:before {
  transform: rotateY(180deg);
  left: auto;
  right: 40px;
}

.main-timeline .timeline:nth-child(even) .timeline-content:after {
  border-radius: 15px 0 15px 15px;
  left: 20px;
  right: 55px;
}

.main-timeline .timeline:nth-child(even) .timeline-year {
  left: auto;
  right: -11px;
}

.main-timeline .timeline:nth-child(4n + 2) .timeline-content:after {
  background: linear-gradient(#990a6b, #d24f9a);
}

.main-timeline .timeline:nth-child(4n + 2) .timeline-content::before {
  background: linear-gradient(to right bottom, transparent 50%, #8a1e65 52%);
}

.main-timeline .timeline:nth-child(4n + 2) .timeline-year {
  color: #8a1e65;
}

.main-timeline .timeline:nth-child(4n + 3) .timeline-content:after {
  background: linear-gradient(#22958b, #44b2a7);
}

.main-timeline .timeline:nth-child(4n + 3) .timeline-content::before {
  background: linear-gradient(to right bottom, transparent 50%, #007571 52%);
}

.main-timeline .timeline:nth-child(4n + 3) .timeline-year {
  color: #007571;
}

.main-timeline .timeline:nth-child(4n + 4) .timeline-content:after {
  background: linear-gradient(#7abe46, #a7bc2d);
}

.main-timeline .timeline:nth-child(4n + 4) .timeline-content::before {
  background: linear-gradient(to right bottom, transparent 50%, #459b2d 52%);
}

.main-timeline .timeline:nth-child(4n + 4) .timeline-year {
  color: #459b2d;
}

@media screen and (max-width: 767px) {
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even) {
    width: 100%;
    margin: 0 0 35px 0;
  }
}
