.dropdown-menu {
  background-color: var(--bgColor);
  border: 0.5px solid var(--bgLightColor);
}

.dropdown-menu .dropdown-item {
  color: var(--primaryColor);
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--bgLightColor);
}

.dropdown-menu .dropdown-item.active {
  background-color: var(--bgLightColor);
}
