<div class="dropdown">
  <label
    [ngClass]="{ 'dropdown-toggle': isMany }"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {{ current.flag }} {{ current.name }}
  </label>
  <ul class="dropdown-menu" *ngIf="isMany">
    <li *ngFor="let lang of list">
      <button
        class="dropdown-item"
        [ngClass]="{ active: lang.code === current.code }"
        (click)="change(lang.code)"
      >
        {{ lang.flag }} {{ lang.name }}
      </button>
    </li>
  </ul>
</div>
