.vj-card {
  padding: 1rem;

  background-color: var(--vj-secondary-bg);

  border-radius: 10px;

  .vj-icon {
    display: grid;

    place-items: center;

    width: 100%;
    height: 150px;

    margin-bottom: 1rem;

    img {
      width: 50%;
      max-height: 100%;
    }
  }

  .vj-title {
    margin-bottom: 1.5rem;
    color: var(--vj-primary-color);

    font-weight: 700;

    text-align: center;
  }

  .vj-description {
    display: -webkit-box;

    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

    height: 7rem;

    margin-bottom: 1.5rem;

    color: rgba(var(--vj-color-rgb), 0.8);

    font-size: 0.9rem;
    font-weight: 300;

    line-clamp: 5;

    text-align: center;
    text-overflow: ellipsis;

    overflow: hidden;
  }

  .vj-buttons {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;

    .vj-btn {
      flex-grow: 1;

      display: flex;

      align-items: center;
      gap: 0.5rem;
      justify-content: center;
    }
  }
}
