.vj-card {
  display: block;

  transform: scale(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;

  &.vj-footer {
    padding-bottom: 0;

    transform: translateY(0);

    &.vj-mobile-menu-opened {
      transform: translateY(100%);
    }
  }

  &.vj-mobile-menu-opened {
    transform: scale(0);
  }
}
