.vj-card {
  display: block;

  padding-top: 5rem;

  transform: scale(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;

  &.vj-mobile-menu-opened {
    transform: scale(0);
  }
}
