<app-navbar (mobileMenuOpened)="mobileMenuOpened = $event"></app-navbar>

<app-home
  id="home"
  class="vj-card py-0"
  [class.vj-mobile-menu-opened]="mobileMenuOpened"
></app-home>

<app-about
  id="about"
  class="vj-card"
  [class.vj-mobile-menu-opened]="mobileMenuOpened"
></app-about>

<app-projects
  id="projects"
  class="vj-card"
  [class.vj-mobile-menu-opened]="mobileMenuOpened"
></app-projects>

<app-training
  id="training"
  class="vj-card"
  [class.vj-mobile-menu-opened]="mobileMenuOpened"
></app-training>

<app-contact
  id="contact"
  class="vj-card"
  [class.vj-mobile-menu-opened]="mobileMenuOpened"
></app-contact>

<app-footer
  class="vj-card vj-footer"
  [class.vj-mobile-menu-opened]="mobileMenuOpened"
></app-footer>

<!-- ANIMATION COMPONENTS -->
<app-birthday-ballons *ngIf="isBirthday"></app-birthday-ballons>
