<div class="container">
  <div class="main-timeline">
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">{{
              "home.education.hearc.duration" | transloco
            }}</span>
            <span class="year">{{
              "home.education.hearc.start_year" | transloco
            }}</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">
          {{ "home.education.hearc.name" | transloco }}
        </h5>
        <p class="description">
          {{ "home.education.hearc.section" | transloco }} <br />
          {{ "home.education.hearc.location" | transloco }}
        </p>
      </div>
    </div>

    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">{{
              "home.education.epfl_info.duration" | transloco
            }}</span>
            <span class="year">{{
              "home.education.epfl_info.start_year" | transloco
            }}</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">
          {{ "home.education.epfl_info.name" | transloco }}
        </h5>
        <p class="description">
          {{ "home.education.epfl_info.section" | transloco }} <br />
          {{ "home.education.epfl_info.location" | transloco }}
        </p>
      </div>
    </div>

    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">{{
              "home.education.epfl_microtech.duration" | transloco
            }}</span>
            <span class="year">{{
              "home.education.epfl_microtech.start_year" | transloco
            }}</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">
          {{ "home.education.epfl_microtech.name" | transloco }}
        </h5>
        <p class="description">
          {{ "home.education.epfl_microtech.section" | transloco }} <br />
          {{ "home.education.epfl_microtech.location" | transloco }}
        </p>
      </div>
    </div>

    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">{{
              "home.education.lycee.duration" | transloco
            }}</span>
            <span class="year">{{
              "home.education.lycee.start_year" | transloco
            }}</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">{{ "home.education.lycee.name" | transloco }}</h5>
        <p class="description">
          {{ "home.education.lycee.section" | transloco }} <br />
          {{ "home.education.lycee.location" | transloco }}
        </p>
      </div>
    </div>
  </div>
</div>
