<ng-container *ngIf="organization != undefined; else elseIfBlock">
  <p>{{ organization.name }}</p>

  <div *ngFor="let project of repositories">{{ project.name }}</div>
</ng-container>

<ng-template #elseIfBlock>
  <ng-container *ngIf="loading; else notMine" class="mt-5">
    <app-loading [centered]="true" [verticalMargin]="75"></app-loading>
  </ng-container>
</ng-template>

<ng-template #notMine>
  <app-not-found
    backUrl="/portfolio/organizations"
    [backText]="'portfolio.organizations.go-back' | transloco"
  ></app-not-found>
</ng-template>
