.btn.btn-outline-primary {
  --bs-btn-color: var(--primaryColor);
  --bs-btn-border-color: var(--primaryColor);

  --bs-btn-hover-color: var(--bgColor);
  --bs-btn-hover-bg: var(--primaryColor);
  --bs-btn-hover-border-color: var(--bgColor);
}
