<ng-container *ngIf="repository != undefined; else elseIfBlock">
  <app-project-detail [repository]="repository"></app-project-detail>
</ng-container>

<ng-template #elseIfBlock>
  <ng-container *ngIf="loading; else notMine" class="mt-5">
    <app-loading [centered]="true" [verticalMargin]="75"></app-loading>
  </ng-container>
</ng-template>

<ng-template #notMine>
  <app-not-found
    backUrl="/portfolio/projects"
    [backText]="'portfolio.projects.go-back' | transloco"
  ></app-not-found>
</ng-template>
