<div class="vj-container vj-py">
  <h2
    class="vj-title"
    pAnimateOnScroll
    enterClass="animate__animated animate__fadeInDown"
  >
    {{ "c.title" | transloco }}
  </h2>

  <p
    class="vj-description"
    pAnimateOnScroll
    enterClass="animate__animated animate__fadeInDown"
  >
    {{ "c.description" | transloco }}
  </p>

  <form
    class="vj-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    pAnimateOnScroll
    enterClass="animate__animated animate__fadeInUp"
  >
    <div
      *ngIf="isSent"
      class="alert alert-success alert-dismissible fade show"
      role="alert"
    >
      {{ "c.message-sent" | transloco }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <div *ngIf="isError" class="alert alert-danger" role="alert">
      {{ "c.error" | transloco }}
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3">
        <label for="firstName" class="form-label vj-label-required">
          {{ "c.first-name" | transloco }}
        </label>
        <input
          id="firstName"
          class="form-control"
          [class.vj-invalid]="firstNameRequired"
          type="text"
          formControlName="firstName"
          required
        />
        <div *ngIf="firstNameRequired" class="form-text vj-form-invalid">
          {{ "c.first-name-required" | transloco }}
        </div>
      </div>
      <div class="col-sm-6 mb-3">
        <label for="lastName" class="form-label vj-label-required">
          {{ "c.last-name" | transloco }}
        </label>
        <input
          id="lastName"
          class="form-control"
          [class.vj-invalid]="lastNameRequired"
          type="text"
          formControlName="lastName"
          required
        />
        <div *ngIf="lastNameRequired" class="form-text vj-form-invalid">
          {{ "c.last-name-required" | transloco }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7 col-md-8 mb-3">
        <label for="email" class="form-label vj-label-required">
          {{ "c.email" | transloco }}
        </label>
        <input
          id="email"
          class="form-control"
          [class.vj-invalid]="emailRequired || emailInvalid"
          type="email"
          formControlName="email"
          required
        />
        <div *ngIf="emailRequired" class="form-text vj-form-invalid">
          {{ "c.email-required" | transloco }}
        </div>
        <div *ngIf="emailInvalid" class="form-text vj-form-invalid">
          {{ "c.email-invalid" | transloco }}
        </div>
      </div>
      <div class="col-sm-5 col-md-4 mb-3">
        <label for="phone" class="form-label">
          {{ "c.phone" | transloco }}
        </label>
        <input
          id="phone"
          class="form-control"
          type="tel"
          formControlName="phone"
        />
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="message" class="form-label vj-label-required">
          {{ "c.message" | transloco }}
        </label>
        <textarea
          id="message"
          class="form-control"
          [class.vj-invalid]="messageRequired"
          formControlName="message"
          rows="10"
          autocomplete="off"
          required
        ></textarea>
        <div *ngIf="messageRequired" class="form-text vj-form-invalid">
          {{ "c.message-required" | transloco }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="vj-btn vj-btn-primary" type="submit">
          {{ "c.send-message" | transloco }}
        </button>
      </div>
    </div>
  </form>
</div>
