<div class="vj-container vj-py">
  <h2 class="vj-title">{{ "p.title" | transloco }}</h2>

  <div class="row justify-content-center">
    <div class="col-sm-7 col-md-6 col-lg-4 mb-3">
      <app-project-card
        description="{{ 'p.squadbustersfr.description' | transloco }}"
        githubUrl="https://github.com/vinz-sc/SquadBustersFR"
        projectUrl="https://squadbustersfrance.com"
        technicalStack="{{ 'p.squadbustersfr.specs' | transloco }}"
        title="{{ 'p.squadbustersfr.title' | transloco }}"
      ></app-project-card>
    </div>
    <div class="col-sm-7 col-md-6 col-lg-4 mb-3">
      <app-project-card
        description="{{ 'p.restaurant-gare.description' | transloco }}"
        projectUrl="https://test.jeannin.ch"
        technicalStack="{{ 'p.restaurant-gare.specs' | transloco }}"
        title="{{ 'p.restaurant-gare.title' | transloco }}"
      ></app-project-card>
    </div>
    <div class="col-sm-7 col-md-6 col-lg-4 mb-3">
      <app-project-card
        description="{{ 'p.univers-mode.description' | transloco }}"
        githubUrl="https://github.com/dev-vinz/UniversMode"
        technicalStack="{{ 'p.univers-mode.specs' | transloco }}"
        title="{{ 'p.univers-mode.title' | transloco }}"
      ></app-project-card>
    </div>
  </div>
</div>
