.about-me {
  text-align: justify;
}

.profile-picture {
  max-width: 200px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center;

  filter: drop-shadow(1px 1px 4px var(--textColor));
}
