<div class="row gap-3 align-items-center">
  <div class="col-lg-8 about-me">
    <p>{{ "home.about.first_paragraph" | transloco }}</p>
    <p>{{ "home.about.second_paragraph" | transloco }}</p>
    <p>{{ "home.about.third_paragraph" | transloco }}</p>
  </div>
  <div class="col d-flex justify-content-center">
    <img
      src="assets/images/aboutme/profile.png"
      alt="profile_picture"
      class="w-50 profile-picture"
    />
  </div>
</div>
<div class="row mt-5">
  <app-about-me-carousel></app-about-me-carousel>
</div>
