<app-timeline>
  <app-timeline-card
    #card
    startDate="{{ 'home.education.mse.startDate' | transloco }}"
    endDate="{{ 'home.education.mse.endDate' | transloco }}"
    title="{{ 'home.education.mse.name' | transloco }}"
    section="{{ 'home.education.mse.section' | transloco }}"
    location="{{ 'home.education.mse.location' | transloco }}"
  ></app-timeline-card>
  <app-timeline-card
    #card
    startDate="{{ 'home.education.hearc.startDate' | transloco }}"
    endDate="{{ 'home.education.hearc.endDate' | transloco }}"
    title="{{ 'home.education.hearc.name' | transloco }}"
    section="{{ 'home.education.hearc.section' | transloco }}"
    location="{{ 'home.education.hearc.location' | transloco }}"
  ></app-timeline-card>
  <app-timeline-card
    #card
    startDate="{{ 'home.education.epfl.startDate' | transloco }}"
    endDate="{{ 'home.education.epfl.endDate' | transloco }}"
    title="{{ 'home.education.epfl.name' | transloco }}"
    section="{{ 'home.education.epfl.section' | transloco }}"
    location="{{ 'home.education.epfl.location' | transloco }}"
  ></app-timeline-card>
  <app-timeline-card
    #card
    startDate="{{ 'home.education.lycee.startDate' | transloco }}"
    endDate="{{ 'home.education.lycee.endDate' | transloco }}"
    title="{{ 'home.education.lycee.name' | transloco }}"
    section="{{ 'home.education.lycee.section' | transloco }}"
    location="{{ 'home.education.lycee.location' | transloco }}"
  ></app-timeline-card>
</app-timeline>
