<app-timeline>
  <app-timeline-card
    #card
    duration="{{ 'home.education.hearc.duration' | transloco }}"
    startYear="{{ 'home.education.hearc.start_year' | transloco }}"
    title="{{ 'home.education.hearc.name' | transloco }}"
    section="{{ 'home.education.hearc.section' | transloco }}"
    location="{{ 'home.education.hearc.location' | transloco }}"
  ></app-timeline-card>
  <app-timeline-card
    #card
    duration="{{ 'home.education.epfl_info.duration' | transloco }}"
    startYear="{{ 'home.education.epfl_info.start_year' | transloco }}"
    title="{{ 'home.education.epfl_info.name' | transloco }}"
    section="{{ 'home.education.epfl_info.section' | transloco }}"
    location="{{ 'home.education.epfl_info.location' | transloco }}"
  ></app-timeline-card>
  <app-timeline-card
    #card
    duration="{{ 'home.education.epfl_microtech.duration' | transloco }}"
    startYear="{{ 'home.education.epfl_microtech.start_year' | transloco }}"
    title="{{ 'home.education.epfl_microtech.name' | transloco }}"
    section="{{ 'home.education.epfl_microtech.section' | transloco }}"
    location="{{ 'home.education.epfl_microtech.location' | transloco }}"
  ></app-timeline-card>
  <app-timeline-card
    #card
    duration="{{ 'home.education.lycee.duration' | transloco }}"
    startYear="{{ 'home.education.lycee.start_year' | transloco }}"
    title="{{ 'home.education.lycee.name' | transloco }}"
    section="{{ 'home.education.lycee.section' | transloco }}"
    location="{{ 'home.education.lycee.location' | transloco }}"
  ></app-timeline-card>
</app-timeline>
