@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@mixin lighten() {
  --bgColor: #f2f2f7;
  --bgLightColor: #d7d7e4;
  --rgba01: rgba(33, 33, 33, 0.1);
  --primaryColor: #212121;
  --primaryLightColor: #424242;
  --secondaryColor: #309054;
  --thirdColor: #008fff;
  --borderColor: #212121;
}

@mixin darken() {
  --bgColor: #212121;
  --bgLightColor: #424242;
  --rgba01: rgba(242, 242, 247, 0.1);
  --primaryColor: #f2f2f7;
  --primaryLightColor: #d7d7e4;
  --secondaryColor: #44cc77;
  --thirdColor: #45adff;
  --borderColor: #f2f2f7;
}

body.dark {
  @include darken();
}

body.light {
  @include lighten();
}

body {
  font-family: "Poppins", sans-serif;

  background-color: var(--bgColor);
  color: var(--primaryColor);
}
