<footer>
  <div class="bubbles">
    <div
      *ngFor="let style of bubbleStyles"
      class="bubble"
      [style]="style"
    ></div>
  </div>
  <div class="content">Vincent Jeannin &copy; {{ today | date : "yyyy" }}</div>
</footer>

<svg style="position: fixed; top: 100vh">
  <defs>
    <filter id="blob">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
      <feColorMatrix
        in="blur"
        mode="matrix"
        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
        result="blob"
      />
    </filter>
  </defs>
</svg>
