<div id="about-me-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#about-me-carousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
    ></button>
    <button
      type="button"
      data-bs-target="#about-me-carousel"
      data-bs-slide-to="1"
    ></button>
    <button
      type="button"
      data-bs-target="#about-me-carousel"
      data-bs-slide-to="2"
    ></button>
    <button
      type="button"
      data-bs-target="#about-me-carousel"
      data-bs-slide-to="3"
    ></button>
    <button
      type="button"
      data-bs-target="#about-me-carousel"
      data-bs-slide-to="4"
    ></button>
    <button
      type="button"
      data-bs-target="#about-me-carousel"
      data-bs-slide-to="5"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/images/aboutme/profile_moto.jpg"
        class="carousel-item-img d-block w-100 mx-auto"
        alt="profile picture on a motorcycle"
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/aboutme/profile_moto_balade.jpg"
        class="carousel-item-img d-block w-100 mx-auto"
        alt="profile picture on a motorcycle seeing landscape"
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/aboutme/profile_moto_london.jpg"
        class="carousel-item-img d-block w-100 mx-auto"
        alt="profile picture on a motorcycle in London"
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/aboutme/profile_natation.jpg"
        class="carousel-item-img d-block w-100 mx-auto"
        alt="swimming pool"
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/aboutme/profile_piano.jpg"
        class="carousel-item-img d-block w-100 mx-auto"
        alt="piano image"
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/aboutme/profile_snowboard.jpg"
        class="carousel-item-img d-block w-100 mx-auto"
        alt="snowboard landscape image"
      />
    </div>
  </div>
</div>
